<app-add-task (sendNewTaskData)="addNewTask($event)" ></app-add-task>

<section *ngIf="tasksCollection">
  <h2 (click)="toggleState()" [@itemAnim]>{{taskList}}</h2>
  <p *ngIf="tasksCollection.length == 0" [@itemAnim]>{{emptyTaskList}}</p>

  <article 
    *ngFor="let task of staggeringTask" 
    class="taskListItem" [ngClass]="{'erase' : task.eraseTask == true}"
    (@itemAnim.done)="doNext()" [@itemAnim] 
  >

    <task-item 
      [task]="task" (sendDeleteTask)="deleteTask($event)"
      [task]="task" (sendUpdateTask)="updateTask($event)"
    ></task-item>

  </article>

</section>